<%- include("partials/header"); -%>

<form action="/auth/login" method="POST">
    <div class="email error">
        <p> <%= message %> </p>
    </div>
    <h2>Login</h2>
    <small style="margin-top: -1rem !important";>Testcase - EMAIL: <i>example@mail.com,</i> PASS: <i>example</i> or signup</small>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error">
        <p> <%= email %> </p>
    </div>
    <label for="password"></label>
    <input type="password" name="password" required>
    <div class="email error">
        <p> <%= password %> </p>
    </div>
    <button>Login</button>
</form>

<%- include("partials/footer"); -%>